@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Archivo:ital,wght@0,100..900;1,100..900&family=Prata&display=swap");

@import "tailwindcss";

html {
  font-family: "Archivo", sans-serif;
}
